<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="resources/static/js/openPoolModal.js"></script>

</head>

<body>

<div class="table-responsive">

        <table class="table table-hover ">

            <thead class="thead-inverse">
            <tr>
                <th class="col-md-2">Id</th>
                <th class="col-md-2">Rep_date</th>
                <th class="col-md-2">Hashrate</th>

            </tr>
            </thead>

            <tr th:each="networkHashrate : ${networkHashrates}" onclick="openPoolModal()">
                <td th:text="${networkHashrate.id}"> Sample data</td>
                <td th:text="${networkHashrate.rep_date}">Maven Street 10, Glasgow</td>
                <td th:text="${networkHashrate.hashrate}">999-999-999</td>
            </tr>

            <script>
function openPoolModal(id){

    console.log("I've been called");

$.ajax({
    url: "/" + id,
    success: function(data){
    $("#PoolModalHolder").html(data);
    $("#PoolModal").modal("show");
    }
});
}
</script>

        </table>

</div>



</body>

</html>