<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="refresh" content="10" />-->

    <title>Main Page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../js/openPoolModal.js" th:src="@{/js/openPoolModal.js}"></script>

</head>

<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover ">

                            <thead class="thead-inverse">
                            <tr>
                                <th class="col-md-2 text-center">Network Id</th>
                                <th class="col-md-2 text-center">Rep_date</th>
                                <th class="col-md-2 text-center">Hashrate</th>
                            </tr>
                            </thead>

                            <tr th:each="networkHashrate : ${networkHashrates}" th:onclick="'javascript:openPoolModal(\''+ ${networkHashrate.id} + '\');'">
                                <td class="text-center" th:text="${networkHashrate.id}"> Sample id</td>
                                <td class="text-center" th:text="${networkHashrate.rep_date}">Sample rep-date</td>
                                <td class="text-center" th:text="${networkHashrate.hashrate}">Sample hashrate</td>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="PoolModalHolder">

</div>

</body>

</html>