<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">

    <title>Main Page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/openPoolModal.js" th:src="@{/js/openPoolModal.js}"></script>
    <script type="text/javascript" src="../js/contentRefresh.js" th:src="@{/js/contentRefresh.js}"></script>

    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript" src="../js/sortTable.js" th:src="@{/js/sortTable.js}"></script>

</head>

<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="table-responsive" id="main-content" th:fragment="table-content">
                        <table class="table table-hover">

                            <thead class="thead-inverse">
                            <tr>
                                <th class="col-md-2 text-center">Network Id</th>
                                <th class="col-md-2 text-center">Rep_date</th>
                                <th class="col-md-2 text-center">Hashrate</th>
                            </tr>
                            </thead>

                            <tr style="cursor: pointer;" th:each="networkHashrate : ${networkHashrates}" th:onclick="'javascript:openPoolModal(\''+ ${networkHashrate.id} + '\');'">
                                <td class="text-center" th:text="${networkHashrate.id}"> Sample id</td>
                                <td class="text-center" th:text="${networkHashrate.rep_date}">Sample rep-date</td>
                                <td class="text-center" th:text="${networkHashrate.hashrate}">Sample hashrate</td>
                            </tr>
                        </table>

                            <div class="text-center" id="stat">
                                <div class="pagination"><p>Displaying <span class="badge" th:text="${page.size * (page.number-1) + 1}"></span> -
                                    <span class="badge" th:text="${page.lastPage ? page.totalElements : page.size * (page.number-1)+ page.size}"></span> of
                                    <span class="badge" th:text="${page.totalElements}"></span> total records</p>
                                </div>
                            </div>

                        <!-- Pagination Bar -->
                            <div th:fragment='paginationbar'>
                                <div class="text-center">
                                    <ul class='pagination pagination-centered'>
                                        <li th:class="${page.firstPage}?'disabled':''">
                                            <span th:if='${page.firstPage}'>← First</span>
                                            <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>←
                                                First</a>
                                        </li>
                                        <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                                            <span th:if='${not page.hasPreviousPage}'>«</span>
                                            <a th:if='${page.hasPreviousPage}'
                                               th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                                               title='Go to previous page'>«</a>
                                        </li>
                                        <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                                            <span th:if='${item.current}' th:text='${item.number}'>1</span>
                                            <a th:if='${not item.current}'
                                               th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                                    th:text='${item.number}'>1</span></a>
                                        </li>
                                        <li th:class="${page.hasNextPage}? '' : 'disabled'">
                                            <span th:if='${not page.hasNextPage}'>»</span>
                                            <a th:if='${page.hasNextPage}'
                                               th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                                               title='Go to next page'>»</a>
                                        </li>
                                        <li th:class="${page.lastPage}? 'disabled' : ''">
                                            <span th:if='${page.lastPage}'>Last →</span>
                                            <a th:if='${not page.lastPage}'
                                               th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last →</a>
                                        </li>
                                    </ul>
                                </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="PoolModalHolder">
</div>

</body>

</html>