<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Network Details</title>
</head>

<body>

<div class="modal fade" id="personalModal" role="dialog" th:fragment="modalContents">
    <div class="modal-dialog modal-xl">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center" th:text="'Network: ' + ${poolHashrates[0].networkHashrate.id}">Network Id</h4>
            </div>

            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table width="100%" class="table table-hover " id="poolTable">

                                    <script type="text/javascript" src="../js/pieChart.js" th:src="@{/js/pieChart.js}"></script>

                                    <thead class="thead-inverse">
                                    <tr>
                                        <th class="col-md-2 text-center">Pool name</th>
                                        <th class="col-md-2 text-center">Date from</th>
                                        <th class="col-md-2 text-center">Hashrate [KH/s]</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="poolHashrate : ${poolHashrates}" th:style="${@getDataService.formatHashrate(poolHashrate.hashrate)} == '0.0' ? 'background: #ffb0b3;' : 'background: #ffffff;'">
                                        <td class="text-center" th:text="${poolHashrate.poolDef.name}"> Sample data</td>
                                        <td class="text-center" th:text="${@getDataService.formatDate(poolHashrate.poolDef.dateFrom)}">Sample street</td>
                                        <td class="text-center" th:text="${@getDataService.formatHashrate(poolHashrate.hashrate)}">999-999-999</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>


                        <div class="col-md-6">
                            <p> Known pools hashrate </p>

                            <canvas id="poolsChart" style="margin: 0 auto;" height="300"></canvas>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
</body>

</html>