<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Network Details</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<div class="modal fade" id="personalModal" role="dialog" th:fragment="modalContents">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center" th:text="'Network: ' + ${poolHashrates[0].networkHashrate.id}">Network Id</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table width="100%" class="table table-hover " id="poolTable">

                        <thead class="thead-inverse">
                        <tr>
                            <th class="col-md-2 text-center">Pool name</th>
                            <th class="col-md-2 text-center">Date from</th>
                            <th class="col-md-2 text-center">Hashrate [KH/s]</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="poolHashrate : ${poolHashrates}" th:style="${@getDataService.formatDate(poolHashrate.poolDef.dateFrom)} == '1111-11-11 / 11:11:11' ? 'background: #ffb0b3;' : 'background: #ffffff;'">
                            <td class="text-center" th:text="${poolHashrate.poolDef.name}"> Sample data</td>
                            <td class="text-center" th:text="${@getDataService.formatDate(poolHashrate.poolDef.dateFrom)}">Sample street</td>
                            <td class="text-center" th:text="${@getDataService.formatHashrate(poolHashrate.hashrate)}">999-999-999</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>